<h2>Subir CV</h2>
<form asp-action="SubirCV" enctype="multipart/form-data" method="post">
    <div>
        <label for="curriculum">Cargar CV (.pdf, máx. 5MB)</label>
        <input type="file" name="curriculum" />
    </div>
    <button type="submit">Subir CV</button>
</form>
